# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
build/
dist/

# Environment
.env

# Node.js
node_modules/
ui/node_modules/
ui/.old_node_modules/
ui/.next/
.next/
ui/out/

# Logs
*.log

# OS
.DS_Store

