recursive-include civion/static *
recursive-include civion/static/ui *
recursive-include civion/static/ui/_next *
include civion/static/ui/index.html
include civion/static/ui/404.html
include README.md
include CHANGELOG.md
include LICENSE
exclude .env
exclude .secrets
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
recursive-exclude .git *
